<p class="text-xs-center">Sign in for work</p>

<div class="alert alert-{{message.type}}"
     *ngIf="message.text">
  {{ message.text }}
</div>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <div class="form-group"
       [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched }">

    <label for="email">Email</label>
    <input type="text"
           class="form-control underlined"
           id="email"
           formControlName="email"
           placeholder="Input email"/>

    <span class="form-help-text"
          *ngIf="form.get('email').invalid && form.get('email').touched">

      <span *ngIf="form.get('email')['errors']['required']">Email is required</span>
      <span *ngIf="form.get('email')['errors']['email']">Input correct email</span>
    </span>
  </div>

  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched }">
    <label for="password">Password</label>
    <input type="password"
           class="form-control underlined"
           id="password"
           formControlName="password"
           placeholder="Input password">

    <span class="form-help-text"
          *ngIf="form.get('password').invalid && form.get('password').touched">

      <span *ngIf="form.get('password')['errors']['required']">Password is required</span>
      <span *ngIf="form.get('password')['errors']['minlength']">
        Password must be more
        {{ form.get('password')['errors']['minlength']['requiredLength'] }}
        symbols. Now {{ form.get('password')['errors']['minlength']['actualLength'] }}
      </span>
    </span>
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.invalid">
      Sign in
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      No account? <a [routerLink]="'/sign-up'">Sign Up!</a>
    </p>
  </div>
</form>
