<div class="card">
  <h4>Счет</h4>

  <!--<br/> TODO: fix display value by EUR

  <div class="d-flex justify-content-between">
    <i class="fa fa-euro"></i>
    <div class="value">{{ bill.value | number: '1.2' }}</div>
  </div>

  <div class="progress" style="height: 2px;">
    <div class="progress-bar"
         role="progressbar"
         style="width: 100%;"
         aria-valuenow="100"
         aria-valuemin="0"
         aria-valuemax="100">
    </div>
  </div>-->

  <br/>

  <div class="d-flex justify-content-between">
    <span title="uah" class="currency-icon">&#8372;</span>
    <div class="value">{{ uah | number: '1.2' }}</div>
  </div>

  <div class="progress" style="height: 2px;">
    <div class="progress-bar"
         role="progressbar"
         style="width: 100%;"
         aria-valuenow="100"
         aria-valuemin="0"
         aria-valuemax="100">
    </div>
  </div>

  <br/>

  <div class="d-flex justify-content-between">
    <i class="fa fa-dollar currency-icon" title="y.e."></i>
    <div class="value">{{ dollar | number: '1.2' }}</div>
  </div>

  <div class="progress" style="height: 2px;">
    <div class="progress-bar"
         role="progressbar"
         style="width: 100%;"
         aria-valuenow="100"
         aria-valuemin="0"
         aria-valuemax="100">
    </div>
  </div>

</div>

