<div class="row justify-content-center"
     *ngIf="!isLoaded">
  <app-loader></app-loader>
</div>

<div *ngIf="isLoaded">

  <div class="title">
    <a [routerLink]="['/system/history']">
      <i class="fa fa-arrow-left"></i>
    </a>&nbsp;
    <h3>Страница записи № {{ event.id }}</h3>
  </div>

  <hr />

  <div class="card">
    <h5 class="card-header text-white"
        [ngClass]="{'bg-success': event.type === 'income', 'bg-danger': event.type === 'outcome'}">
      <span *ngIf="event.type === 'income'">Доход</span>
      <span *ngIf="event.type === 'outcome'">Расход</span>
    </h5>
    <div class="card-body">
      <div class="d-flex flex-column">
        <div>
          Сумма: <strong>{{ event.amount | number: '1.2'}} P</strong>
        </div>
        <div>
          Категория: <strong>{{ category.name }}</strong>
        </div>
        <div>
          Комментарий: <strong>{{ event.description }}</strong>
        </div>
      </div>

      <hr />

      <p class="card-text">{{ event.date }}</p>
    </div>

  </div>
</div>
